//
//  Secrets.xcconfig
//  PrivateLibrary
//
//  Created by 강희영 on 2021/11/08.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


JUSO_API_KEY = devU01TX0FVVEgyMDIxMTEwODIyNTEwNjExMTg1ODI=
KM_REST_KEY = KakaoAK 6bd1947898136c2495bfbdf4118334fc
